@import '../../variable.scss';

.navbar {
    background: $primaryColor;
    border-bottom: 3px solid $secondaryColor;
    padding: 0 16px;
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    @media screen and (min-width: 991px){
        height: auto;
        flex-direction: initial;
    }
    .navbar-toggler{
        border:0;
    }
    .navbar-collapse {
        background: #4ba593;
        z-index: 1;
        top: 60px;
        position: absolute;
        padding: 20px 20px 20px;
        left: 0px;
        right: 0;
        @media screen and (min-width: 991px){
            padding:0;
            padding-left:195px;
            position: initial;
        }
    }
    .nav-link {
        color:white;
        font-family: "Roboto";
        &:hover {
            color:$secondaryColor;
        }
    }

    .dropdown-menu {
        border: 3px solid $secondaryColor;
        background: $secondaryColor;
        opacity: 0.9;
        margin-bottom: 15px;
        @media screen and (min-width: 991px){
            margin-top:15px;
            margin-bottom: 0px;
        }
        .dropdown-item {
            opacity: 1;
            color:white;
            &:hover {
                background: $primaryColor;
                opacity: 1;
                color: $secondaryColor;
            }
        }
    }
    img {
        width: 110px;
        height: auto;
        z-index: 100;
        position: absolute;
        border-radius: 50%;
        box-shadow: black 0px 0px 7px 0px;
        border: 5px solid white;
        top:5px;
        left: calc(50vw - (/* width */110px / 2));
        @media screen and (min-width: 991px){
            top: 15px;
            left:95px;
        }
    }
    .devis {
        padding: 3px 10px;
        font-size: 17px;
        background: #237E72;
        height: 70px;
        border-left: 3px solid #285A53;
        color:white;
        display: flex;
        align-items: center;
        @media screen and (min-width: 991px){
            top: 15px;
            left:95px;
            margin-right: 25px;
            transition: background 0.7s;
            transform: skew(-20deg);
            &:hover {
                background-color: $secondaryColor;
            }
        }

    }

}