<nav class="navbar navbar-expand-lg navbar-light z-depth-1-half">
  <div class="navbar-brand" (click)="goHome()">
    <img src="../../assets/images/logo.jpg"/>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let categorie of listCategoriePhare">
        <a class="nav-link" href="#">{{categorie.title}} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Autres
        </a>
        <div class="dropdown-menu z-depth-5" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#" *ngFor="let categorie of listeCategAutre">{{categorie.title}}</a>
        </div>
      </li>
    </ul>
    <div class="navbar-nav ml-auto">
      <a href="" class="devis">DEVIS GRATUIT</a>
    </div>
  </div>
</nav>