@import '../../../variable.scss';





.notice-desktop {
    display:none;
    @media screen and(min-width:1200px){
    display:flex;
    background: white;
    visibility: unset;;
    z-index: 100;
    position: absolute;
    width: 80%;
    left:38px;
    top:9px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .question {
        position: absolute;
        display: bloc;
        visibility: inherit;;
        top:-20px;
        border:0;
        padding: 0;;
        transform: scale(1);
        border-radius: 50%;
        animation: pulse 3s infinite;
        background: white;
        cursor: pointer;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .title {
        text-transform: uppercase;
        padding-top: 35px;
        padding-bottom: 25px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 900;
        font-size: 13px;
        color: $secondaryColor;
    }
    .number {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        color:white;
        display: flex;
        justify-content: center;
    }
        .btn-step{

            border-radius: 50%;
            width: 50px;
            color: white;
            height: 50px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: 0 auto;

            &.one{
                background-color: #E5A686;
            }
            &.two{
                background-color: #92A4CE;
            }
            &.three{
                background-color: #7BD5A2;
            }
            &.four{
                background-color: #E2EC7D;
            }
        }

    .info {
        background: $secondaryColor;
        display: flex;
        align-items:  center;
        justify-content: center;
        text-align: center;
        color:white;
        padding:10px;
        font-family: "Roboto";
    }

    }
}

@keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
