<div class="notice-desktop z-depth-1-half">
    <button class="question">
        <img src="../../../assets/images/question.png" alt="" >
    </button>
    <span class="title">Comment ça marche ?</span>
    <div>
       <ngb-accordion [closeOthers]="true">
    <ngb-panel id="static-1">
        <ng-template ngbPanelHeader [style.background]="red">
            <div class="d-flex align-items-center justify-content-between">
              <button ngbPanelToggle class="btn btn-link p-0 one">Etape</button>
              <div class="number one">1</div>
            </div>
          </ng-template>
        <ng-template ngbPanelContent>
            Sélectionnez le ou les produits que vous désirez.
        </ng-template>
    </ngb-panel>
    <ngb-panel id="static-2">
        <ng-template ngbPanelHeader>
            <div class="d-flex align-items-center justify-content-between">
              <button ngbPanelToggle class="btn btn-link p-0">Etape</button>
              <div class="number two">2</div>
            </div>
          </ng-template>
        <ng-template ngbPanelContent>
            Sélectionnez ensuite la couleur souhaitée.
        </ng-template>
    </ngb-panel>
    <ngb-panel id="static-3">
        <ng-template ngbPanelHeader>
            <div class="d-flex align-items-center justify-content-between">
              <button ngbPanelToggle class="btn btn-link p-0">Etape </button>
              <div class="number three">3</div>
            </div>
          </ng-template>
        <ng-template ngbPanelContent>
            Le récapitulatif de votre devis s'affichera, et vous pourrez éditer la quantité voulue du produit.
        </ng-template>
    </ngb-panel>
    <ngb-panel id="static-4">
        <ng-template ngbPanelHeader>
            <div class="d-flex align-items-center justify-content-between">
              <button ngbPanelToggle class="btn btn-link p-0">Etape </button>
              <div class="number four">4</div>
            </div>
          </ng-template>
        <ng-template ngbPanelContent>
            Validez votre devis. Vous aurez la possibilité de laisser un message, ainsi que les logos / images que vous desirez ajouter aux produits pour accompagner celui-ci.
        </ng-template>
    </ngb-panel>
</ngb-accordion>
        <div class="info">
            <span>NOTRE CONSEILLER VOUS CONTACTERA APRES VALIDATION</span>
        </div>
    </div>
</div>


