@import '../../../variable.scss';

.notice-desktop {
    display:none;
    @media screen and(min-width:1200px){
    display:flex;
    background: white;
    visibility: unset;;
    z-index: 100;
    position: absolute;
    width: 70%;
    left:38px;
    top:9px;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    .howitworks{
        width:80px;
        animation: pulse 3s infinite;
        border:6px solid white;
        border-radius: 50%;
    }


        .question {
        position: absolute;
        display: block;
        visibility: inherit;;
        top:-20px;
        border:0;
        padding: 0;;
        transform: scale(1);
        border-radius: 50%;
        background: white;
        cursor: pointer;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .title {
        background: #295a51;
        text-transform: uppercase;
        padding: 20px;
        font-family: "Alata", sans-serif;
        font-weight: 900;
        font-size: 18px;
        width: 100%;
        text-align: center;
        color: white;
    }
    .number {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        color:white;
        display: flex;
        justify-content: center;
    }
        .btn-step{

            border-radius: 50%;
            width: 50px;
            color: white;
            height: 50px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: 0 auto;

            &.one{
                background-color: #295a51;
            }
            &.two{
                background-color: #295a51e0;
            }
            &.three{
                background-color: #295a51c7;
            }
            &.four{
                background-color: #295a51ad;
            }
        }

    .info {
        background: #295a51;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        font-family: "Altala", sans-serif;
        height: 90px;
        font-size: 13px;
    }

    }
}

@keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
