.produit {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width:100%;
        max-width: 288px;
        &.little {
            width:95%;
            max-width: 144px;
        }
    }
    p {
        font-size: 40px;
        font-weight: bold;
    }
}