<ng-container *ngIf="view == 'home' then casHome; else casProduit"></ng-container>


<ng-template #casHome>
    <div class="view overlay produit z-depth-1-half">
        <img src='{{urlImage}}' class="img-fluid {{optionalClass}}" alt="smaple image">
        <div class="mask flex-center rgba-black-light">
            <p class="white-text">{{nomCategorie}}</p>
        </div>
    </div>
</ng-template>

<ng-template #casProduit>
    <div class="view overlay produit z-depth-1-half">
        <img src='{{urlImage}}' class="img-fluid {{optionalClass}}" alt="smaple image">
        <div class="mask flex-center rgba-black-light">
            <p class="white-text">{{nomCategorie}}</p>
        </div>
    </div>
    <app-liste-couleurs [listColor]="listColor"></app-liste-couleurs>
</ng-template>
