<ng-container *ngIf="view == 'home' then casHome; else casProduit"></ng-container>

<ng-template #casHome>
    <div class="view overlay  produit ">
        <img src='{{urlImage}}' class="img-fluid {{optionalClass}}" alt="smaple image">
        <div class="mask flex-center rgba-black-light">
            <p class="white-text">{{nomCategorie}}</p>
        </div>
    </div>
</ng-template>

<ng-template #casProduit>

<ng-template #tipContent>{{infosProduit}}</ng-template>
    <div class="view overlay produit" (click)="selectionneProduit(nomCategorie)"  [ngbTooltip]="tipContent" placement="bottom">
        <div class="ribbon ribbon-top-left"><span>{{marque}}</span></div>
        <img src='{{urlImage}}' class="img-fluid {{optionalClass}}" alt="smaple image">
        <div class="mask flex-center {{isSelectionne ? 'active rgba-black-strong' : 'rgba-black-light'}}">
            <p class="white-text">{{nomCategorie}}</p>
            <hr *ngIf="isSelectionne">
            <i *ngIf="isSelectionne" class="fas fa-check-circle"></i>
        </div>
    </div>
    <div class="couleurs-wrapper z-depth-1-half animate__animated animate__slideInDown {{colorSelectionne ? 'active ' : ''}}" *ngIf="isSelectionne">
        
        <ng-container *ngIf="!colorSelectionne">
            <div>Couleurs disponible</div>
            <div class="list-color">
                <ng-container *ngFor="let color of listhexaCode">
                    <div (click)="selectionneCouleur(color)" class="card-couleur z-depth-1-half" [style.background]="color.couleur"> </div>
                </ng-container>
            </div>
        </ng-container>
 
    </div>

</ng-template>


