.produit {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    img {
        width:100%;
        max-width: 288px;
        &.little {
            width:95%;
            max-width: 144px;
        }
    }
    p {
        font-size: 40px;
        font-weight: bold;
    }
}

.view {
    z-index:10;
}

.mask {
    display: flex;
    flex-direction: column;
    &.active {
        opacity: 1;
        hr {
            height: 2px;
            background: white;
            width: 80%;
        }
        i {
            font-size:30px;
            color:white;
        }
    }
}

.couleurs-wrapper {
    display:flex;
    background:rgb(212, 212, 212);
    opacity:0.9;
    padding:14px;
    justify-content: space-between;
    border:2px solid #285A53;
    border-top:0;
    margin:0 15px;
    .card-couleur {
        height: 20px;
        opacity: 1;
        width: 20px;    
        cursor:pointer;
    }
    &.active {
        background-color: rgba(0, 0, 0, 0.7);
    }
}