

<div class="recap" >
    <div class="card-header ">Votre récapitulatif</div>
    
        <div class="product-wrapper" *ngIf="isSidebarVisible()">
            <ng-container *ngFor="let produit of getRecap()">
            <div class="produit">   
                <div class="produit-header">
                    <input class="color-picker" (colorPickerChange)="test($event, produit)" cpPosition="bottom" [(colorPicker)]="produit.couleur" [style.background]="produit.couleur"/>
                    <div class="nom-produit">{{produit.produit}}</div>
                    <input type="number" (change)="updateQuantite($event, produit)" value="{{quantiteValue}}"/>
                    <i (click)="removeProduit(produit)" class="far fa-trash-alt"></i>
                </div>
                <div class="slidecontainer">
                    <input type="range" min="1" max="100" (change)="updateQuantite($event, produit)" value="{{quantiteValue}}"  class="slider" id="myRange">
                  </div>
                  <hr>
            </div>
        </ng-container>
        <hr class="hr-devis">
        <div class="validation-devis">
            <span>VALIDER MON DEVIS</span>
        </div>
        </div>

</div>

