

.title-wrapper {
    display: flex;
    align-items: center;
    z-index: 100;
    position: relative;
    justify-content: center;

      .listeProducts {
        display: inline-block;
        width:100%;
        letter-spacing: 0;
        font-family: 'Alata', sans-serif;
        color: #285952;
        padding: 30px 15px 10px;
        font-size: 20px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        &.t-white {
          color: white;
          width: auto;
          font-size: 20px;
          text-transform: uppercase;
        }

        @media screen and(min-width:991px) {
          padding: 90px 15px 10px;
          &.t-white {
            font-size: 30px;
          }
        }

        &.no-padding-top {
            padding-top:0;
        }

        @media screen and(min-width:991px) {
            display: block;
            width: 100%;
            padding:0 0;
            text-align: center;
            font-size: 30px;
            font-weight: 300;
        }
      }
      
      h3 {
        text-align: center;

      }
}
