@import '../../../variable.scss';



.main-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and(min-width:768px) {
        flex-direction: row;
        max-height: 300px;
    }
    .first-categorie {
        flex:1;
    }
    .middle-categories {
        flex:1;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-between;
        padding:10px;
        .middle-top, .middle-bottom {
            display: flex;
            justify-content: space-between;
            ::ng-deep p{
                font-size: 20px;
                font-weight: bold;
            }
        }
        .middle-bottom {
            margin-top:5%;
        }
    }
    .last-categorie {
        flex:1;
    }
}