@import '../../../variable.scss';

.title {
    padding-bottom: 25px;;
  }
  

.main-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and(min-width:768px) {
        flex-direction: row;
        max-height: 300px;
        padding-bottom:30px;
        padding: 30px 0;
    }
    .first-categorie {
        flex:1;
    }
    .middle-categories {
        flex:1;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-between;
        .view {
            height: 100%;
        }
        .middle-top, .middle-bottom {
            display: flex;
            justify-content: space-between;
            ::ng-deep p{
                font-size: 20px;
                font-weight: bold;
            }
        }

        .middle-top {
            margin: 0 10px 10px;
            .middleTop + .middleTop {
                margin-left:5px;
            }
        }

        .middle-bottom {
            margin: 10px 10px 0px;
            .middleBottom + .middleBottom{
                margin-left: 5px;
            } 
        }




    }
    .last-categorie {
        flex:1;
    }


}

hr {
        margin-top:3rem;
}