<app-titre titre="Nos produits phare"></app-titre>
<div class="main-wrapper">
   <div *ngIf="firstCategorie" class="first-categorie"> 
       <app-produit [image]=firstCategorie.nomImage [nomCategorie]="firstCategorie.title" (click)="goToListeProduitByCategorie(firstCategorie)"> </app-produit>
   </div>
    <div class="middle-categories">
        <div class="middle-top">
            <div *ngFor="let categorie of middleCategorieTop" class="middle-top">
                <app-produit optionalClass="little" [image]=categorie.nomImage [nomCategorie]="categorie.title"></app-produit>
              </div>
        </div>
        <div class="middle-bottom">
            <div *ngFor="let categorie of middleCategorieBottom" class="">
                <app-produit optionalClass="little" [image]=categorie.nomImage [nomCategorie]="categorie.title"></app-produit>
              </div>
        </div>
    </div>
    <div *ngIf="lastCategorie" class="last-categorie">
        <app-produit [image]=lastCategorie.nomImage [nomCategorie]="lastCategorie.title"></app-produit>
    </div>
</div>

<hr>


