@import '../../../variable.scss';

.title {
    padding-bottom: 5px;
  }
  

.main-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and(min-width:768px) {
        flex-direction: column;
        padding: 5px 0 30px;
       

    }

    .wrapper-top, .wrapper-bottom {
        display:flex;
        flex-direction: column;
        app-produit + app-produit {
            margin-top:25px;
        }
        @media screen and(min-width:768px) {
            flex-direction: row;
            app-produit + app-produit {
                margin-left:25px;
                margin-top:0;
            }
        }

    }

    .wrapper-top + .wrapper-bottom {
        margin-top: 25px;
    }
}

hr {
        margin-top:3rem;
}
