<div class="title">
    <app-titre titre="Méthodes d'impression" ></app-titre>
</div>

<div class="container-methods">
    <ng-container *ngFor="let methode of methodeImpressionTop">
        <div class="flip-card  {{methode.titre}}">
            <div class="flip-card-inner">
                <div class="flip-card-front z-depth-1-half">
                    <img [src]="getImage(methode.image)" width="100%" height="100%">
                </div>
                <div class="flip-card-back">
                    <p class="textshadow">{{methode.text}}</p>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<div class="container-methods">
    <ng-container *ngFor="let methode of methodeImpressionBottom">
        <div class="flip-card  {{methode.titre}}">
            <div class="flip-card-inner">
                <div class="flip-card-front z-depth-1-half">
                    <img [src]="getImage(methode.image)" width="100%" height="100%">
                </div>
                <div class="flip-card-back">
                    <p class="textshadow">{{methode.text}}</p>
                </div>
            </div>
        </div>
    </ng-container>
    
</div>


