<app-titre titre="Méthodes d'impression" optionalClass="no-padding-top"></app-titre>
<div class="container-methods">
    <ng-container *ngFor="let methode of methodeImpressionTop">
        <div class="flip-card  {{methode.titre}} z-depth-1-half">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h2>{{methode.titre}}</h2>
                </div>
                <div class="flip-card-back">
                    <p class="textshadow">{{methode.text}}</p>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<div class="container-methods">
    <ng-container *ngFor="let methode of methodeImpressionBottom">
        <div class="flip-card  {{methode.titre}} z-depth-1-half">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h2>{{methode.titre}}</h2>
                </div>
                <div class="flip-card-back">
                    <p class="textshadow">{{methode.text}}</p>
                </div>
            </div>
        </div>
    </ng-container>
</div>