.title {
  padding-top:25px;
  padding-bottom: 25px;;
}


.container-methods {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    @media screen and (min-width: 768px){
        flex-direction: row;

        margin-top:50px;
        margin:auto;
    }
    .flip-card {
        background-color: transparent;
        width: 90%;
        height: 150px;
        flex:1;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
        /* This container is needed to position the front and back side */
        @media screen and (min-width: 768px){
          width: 150px;
          height: 150px;
        }
        .flip-card-inner {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: transform 0.8s;
          transform-style: preserve-3d;
          /* Position the front and back side */
          .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
          }
      
          /* Style the front side (fallback if image is missing) */
          .flip-card-front {
            color: white;
            display: flex;
            align-items: center;
            justify-content:center;
          }
      
          /* Style the back side */
          .flip-card-back {
            background: white;
            color: white;
            transform: rotateY(180deg);
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              font-size: 11px;
              color: black;
              padding: 13px;
              margin:0;
            }
          }
        }
      }
    
      .flip-card + .flip-card {
          margin-top: 20px;
          @media screen and (min-width: 768px){
            margin-left: 20px;
            margin-top:0;
        }
          
      }
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
}

.container-methods + .container-methods {
    margin-top: 20px;
}




