<div class="title">
    <app-titre titre="Ils nous font confiance !"></app-titre>
</div>

<div class="clients-wrapper">
    <div class="cards-list">
  
        <div class="card 1">
          <div class="card_image"> <img src="https://via.placeholder.com/150"/> </div>
          <div class="card_title title-white">
            <p>Card Title</p>
          </div>
        </div>
        
        <div class="card 1">
            <div class="card_image"> <img src="https://via.placeholder.com/150"/> </div>
            <div class="card_title title-white">
              <p>Card Title</p>
            </div>
          </div>
          <div class="card 1">
            <div class="card_image"> <img src="https://via.placeholder.com/150"/> </div>
            <div class="card_title title-white">
              <p>Card Title</p>
            </div>
          </div>
          <div class="card 1">
            <div class="card_image"> <img src="https://via.placeholder.com/150"/> </div>
            <div class="card_title title-white">
              <p>Card Title</p>
            </div>
          </div>
          <div class="card 1">
            <div class="card_image"> <img src="https://via.placeholder.com/150"/> </div>
            <div class="card_title title-white">
              <p>Card Title</p>
            </div>
          </div>
        </div>
</div>

<div class="clients-wrapper">
    <div class="cards-list">
  
        <div class="card 1">
          <div class="card_image"> <img src="https://via.placeholder.com/150"/> </div>
          <div class="card_title title-white">
            <p>Card Title</p>
          </div>
        </div>
        
        <div class="card 1">
            <div class="card_image"> <img src="https://via.placeholder.com/150"/> </div>
            <div class="card_title title-white">
              <p>Card Title</p>
            </div>
          </div>
          <div class="card 1">
            <div class="card_image"> <img src="https://via.placeholder.com/150"/> </div>
            <div class="card_title title-white">
              <p>Card Title</p>
            </div>
          </div>
          <div class="card 1">
            <div class="card_image"> <img src="https://via.placeholder.com/150"/> </div>
            <div class="card_title title-white">
              <p>Card Title</p>
            </div>
          </div>
        </div>
</div>

