<div class="main-wrapper">
    <app-recapitulatif></app-recapitulatif>
    <div class="coulee">
        <ng-container *ngIf="idCategorie then casListeProduit; else casHome"></ng-container>
    </div>
    <ng-container *ngIf="!idCategorie">
        <app-engagements></app-engagements>
        <app-slider-client></app-slider-client>
    </ng-container>
    <app-notice></app-notice>
</div>

<ng-template #casHome>
    <app-liste-produits></app-liste-produits>
    <app-methode-impression></app-methode-impression>
</ng-template>




<ng-template #casListeProduit>
    <div class="title">
        <app-titre optionalClass="t-white" titre="Tous nos {{nomCategorie}}"></app-titre>
    </div>

    <div class="produit-wrapper">
        <ng-container *ngFor="let produit of listProduitByCategorie">
            <app-produit         
            [listColor]="produit.couleurs" 
            [image]=produit.nomImage 
            [marque]= produit.marque
            [infosProduit]= produit.infos
            [nomCategorie]="produit.title"></app-produit>
        </ng-container>
    </div>
</ng-template>
