.main-wrapper {
    background: url('src/assets/images/bg.png');

    .coulee {
        .produit-wrapper {
            display:flex;
            flex-direction:column;
            @media screen and(min-width:768px) {
                flex-direction:row;
                app-produit + app-produit {
                    margin-left:15px;
                    margin-top:0 !important;
                }
            }
            app-produit + app-produit {
                margin-top:15px;
            }
        }
        @media screen and(min-width:768px) {
            width: 90%;
            margin: auto;
        }
    }

    @media screen and(min-width:1024px) {
        display:grid;
        padding: 50px 0;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin:auto;
        app-recapitulatif {
            grid-column: 1;
            text-align: center;
            position: relative;
        }
        .coulee {
            grid-column: 2 / span 3;
            max-width: 100%;
            width: inherit;
            margin:auto;
        }
        
        app-engagements {
            grid-column: 1 / span 5;
            grid-row: 2;
        }

        app-slider-client {
            grid-column: 1 / span 5;
            grid-row: 3;
        }

        app-notice {
            grid-column: 5;
            position: relative;
        }


    }



}



