<div class="main-wrapper">
    <app-recapitulatif></app-recapitulatif>
    <div class="coulee">
        <app-titre titre="Tous nos {{nomCategorie}}"></app-titre>
        <div class="produit-wrapper">
            <ng-container *ngFor="let produit of listProduitByCategorie">
                <app-produit         
                [listColor]="produit.couleurs" 
                [image]=produit.nomImage 
                [nomCategorie]="produit.title"></app-produit>
            </ng-container>
        </div>
    </div>
    <app-notice></app-notice>
</div>
